<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Page</title>
</head>
<body>
    <div>
        <% list.map((item, index)=>{ %>
            <li><%= item.title %></li> &nbsp; &nbsp;
            <li><%= item.description %></li>  &nbsp; &nbsp;
        <% }) %>
    </div>
</body>
</html>